<!DOCTYPE html>
<html>
  <head>
    <title>영화 예매 서비스</title>
  </head>
  <body>
    <form
      action="http://localhost:52273/seats"
      method="get"
      id="movie_selection"
    >
      <input type="date" name="movie_date" id="movie_date_input" />
      <input type="submit" value="select_movie" id="movie_select_button" />
    </form>
    <select name="movie" id="movie_list" form="movie_selection">
      <option value="1">바람과 함께 사라지다</option>
      <option value="2">헌트</option>
    </select>
  </body>
</html>
